@import "reset.css";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

canvas {
  height: 800px;
  width: 1000px;
  border: 2px solid black;
}

.color-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
