* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #95afc0;
}

canvas {
  width: 800px;
  height: 800px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.color-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.color-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  transition: transform ease-in-out 0.1s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.color-option:hover {
  transform: scale(1.2);
}

/* # -> type */
input#color {
  background-color: white;
}

.color-options input {
  height: 30px;
  width: 30px;
}

.btns {
  width: 20%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

button,
label {
  cursor: pointer;
  width: 70%;
  background-color: #130f40;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  border-radius: 28px;
  padding: 10px 0;
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: opacity linear 0.1s;
}

button:hover {
  opacity: 0.85;
}

input#line-width {
  width: 70%;
}

input#file {
  display: none;
}

input#text {
  all: unset;
  background-color: white;
  padding: 10px 0;
  border-radius: 28px;
  width: 70%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input#text::placeholder {
  color: #130f40;
  text-align: center;
}
